{% extends "AirlineMS/base.html" %}

{% block content %}
    <div class="content-section">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.first_name }} {{user.last_name}}</p>
          <p class="text-secondary">{{ user.profile.address }}</p>
          <p class="text-secondary">{{ user.profile.phone_number }}</p>
          <form action="{% url 'profile-update' %}">
            <button class="btn btn-light">Update Profile</button>
        </form>
        </div>
      </div>

    </div>
{% endblock content %}