{% extends "AirlineMS/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{user.first_name}} {{user.lastname}}</p>
            <p class="text-secondary">{{ user.profile.phone_num }}</p>
          <p class="text-secondary">{{ user.profile.address }}</p>


        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    
{% endblock content %}